#game{
    display: grid;
    grid-template-rows:repeat(3 ,25px);
    grid-template-columns:repeat(3 ,25px) ;
}
.aa{background-color: yellow;}
.ab{background-color: rgb(130, 130, 255);}
.b:disabled{opacity:1;
color:black;}
.retry{height: 25px;
width: 75px;}
body {background-color: orange;
display: flex;
gap: 10px;}

